<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="echarts.min.js"></script>
    <script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://gallerybox.echartsjs.com/dep/echarts/map/js/world.js"></script>
</head>
<body>
    <div id="main" style="height: 1000px;"></div>
    <script>
        dataUrl = "http://gallerybox.echartsjs.com/asset/get/s/data-1469162638978-rJDcVXku.json";
        var myChart = echarts.init(document.getElementById('main'));
        //myChart.showLoading();
        $.get("flight1.json", function (data) {
            /*
            setTimeout(function () {
                myChart.hideLoading();
            }, 500);
            */
            function getAirportCoord(idx) {
                //获取经纬度
                console.log(idx);
                return [data.airports[idx][1], data.airports[idx][2]];
            }
            //遍历列表，对每个item进行callback中的操作
            var routes = data.routes.map(function (airline) {
                return [
                    getAirportCoord(airline[1]),
                    getAirportCoord(airline[2])
                ];
            });

            myChart.setOption(option = {
                title: {
                    text: 'World Flights',
                    left: 'center',
                    textStyle: {
                        color: '#000'
                    }
                },
                backgroundColor: '#00BFFF',  //地图的背景颜色
                tooltip: {
                    formatter: function (param) {
                        console.log("param:" + param.dataIndex);
                        var route = data.routes[param.dataIndex];
                        console.log("route:" + route);
                        return data.airports[route[1]][0] + ' > ' + data.airports[route[2]][0];
                    }
                },
                geo: {
                    map: 'world',
                    left: 0,
                    right: 0,
                    silent: true,
                    itemStyle: {
                        normal: {
                            borderColor: '#00B', //地图的边界颜色
                            color: '#fff' // 地图的颜色
                        }
                    }
                },
                series: [{
                    type: 'graph',
                    coordinateSystem: 'geo',
                    data: routes,
                    large: true,
                    largeThreshold: 100,
                    lineStyle: {
                        normal: {
                            opacity: 10, //不透明度
                            width: 1,    //宽度
                            curveness: 0.1 //弯度
                        }
                    },
                    //edgeSymbol: ['circle', 'arrow'],
                    //edgeSymbolSize: [4, 10],
                    symbol: 'arrow',
                    //showSymbol: 'false',
                    // 设置混合模式为叠加"lighter"
                    blendMode: 'source-over' // 默认为覆盖
                }]
            });
            /*
            echarts.registerMap('world', data); // 注册地图

            var option = {
                geo: {
                  map: 'world'
                }
            };

            myChart.setOption(option);
            */

        });

    </script>

</body>
</html>